.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .header {
        padding: 20px 15px 30px 15px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
    }

    .content {
        display: flex;

        .blog-left {
            width: 27%;
            height: auto;
        }

        .blog-right {
            border-left: 1px solid #ececec;
            padding: 10px 15px;
            display: grid;
            gap: 15px 15px;
            grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);

            .element {
                border: 1px solid #dddddd;
                height: auto;
                display: flex;
                flex-direction: column;
                //padding: 15px;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 6px 0 rgba($color: #000000, $alpha: 0.5);
                }

                .thumbnail {
                    img {
                        width: 100%;
                        height: 160px;
                    }
                }

                .title-blog {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    padding: 0 10px;
                }
                .date {
                    padding: 5px 10px;
                    p {
                        font-size: 11px;
                    }
                }
                .border {
                    height: 2px;
                    width: 60px;
                    margin: 10px;
                    border-bottom: 1px solid #dddddd;
                }

                .content-blog {
                    padding: 10px;
                }

                .preview {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    padding: 0 10px;
                }
            }
        }
    }
}
