.wrapper {
    width: 100%;
    background-color: #353535;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header {
    height: 100px;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
}
.logo img {
    display: block;
    height: 80%;
}
.search {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.input {
    font-weight: 300;
    color: #454444;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
    width: 50%;
    max-width: 50%;
    height: 100%;
    outline: none;
    &:focus {
        box-shadow: -2px 0px 4px 4px rgba(207, 207, 183, 0.2);
    }
    // Mobile
    @media (max-width: 46.1875em) {
        display: none;
    }
}
.btn-search {
    width: 66px;
    height: 100%;
    padding: 0 8px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--primary);
    cursor: pointer;
    // Mobile
    @media (max-width: 46.1875em) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
.icon-search {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
}
.action {
    display: flex;
    align-items: center;
}
.login-title {
    margin-right: 28px;
    font-weight: bold;
    cursor: pointer;
}
.cart {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
.user {
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.img {
    background-color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.username {
    font-size: 1.5rem;
    margin-left: 12px;
    margin-right: 6px;
}
.icon-menu {
    position: relative;
    cursor: pointer;
    &:hover .wrapper-menu {
        // display: block;
        transform: scale(1);
        opacity: 1;
    }
}
.wrapper-menu {
    position: absolute;
    top: 36px;
    right: -26px;
    transform: scale(0);
    opacity: 0;
    transition: all linear 0.2s;
    // animation: Scale linear 0.2s;
    transform-origin: 80% -10%;
    // display: none;
    // left: 50%;
    // transform: translateX(-50%);
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 24px 36px 24px;
        border-color: transparent transparent #fff transparent;
        top: -16px;
        right: 7px;
        z-index: -1;
    }
}
// @keyframes Scale {
//     from {
//         transform: scale(0);
//         opacity: 0;
//     }
//     to {
//         transform: scale(1);
//         opacity: 1;
//     }
// }
.logout {
    border-top: 1px solid var(--primary);
    padding-top: 10px;
    padding-bottom: 10px;
}
