.content {
    padding: 24px 28px;
}
.title {
    margin-bottom: 12px;
}
.body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table {
    border: 1px solid #999;
    border-collapse: collapse;
    background-color: #fff;
    width: 100%;
    & th {
        border: 1px solid #999;
        background-color: #f8f8f8;
        padding: 2px 0;
    }
    & td {
        max-width: 420px;
        padding: 6px 12px;
        text-align: center;
        border: 1px solid #999;
    }
}
.action {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}
