.wrapper {
    padding: 30px 0;
}
.cart-list {
    display: flex;
}
.cart {
    min-height: calc(100vh - 220px);
    width: 60%;
    max-width: 60%;
    border-right: 1px solid #ececec;
}
.order {
    padding-left: 30px;
    flex: 1;
}
.img {
    display: block;
    width: 100%;
    height: 70px;
    object-fit: contain;
}
.product-title {
    text-align: left;
}
.col-img {
    width: 70px;
}
.data-table {
    padding-right: 30px;
    max-height: calc(100vh - 300px);
    overflow-y: hidden;
    &:hover {
        overflow-y: overlay;
    }
}
.desc {
    font-size: 1.3rem;
    color: #666;
    &:nth-child(2) {
        padding: 4px 0;
    }
    & span {
        color: #555;
        font-weight: 600;
    }
}
.table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
    & tr {
        border-bottom: 1px solid #ececec;
        &.header-table {
            border-bottom: 3px solid #ececec;
            text-transform: uppercase;
            // color: rgba($color: red, $alpha: 0.7);
        }
    }
    & td {
        padding: 12px 4px;
        text-align: center;
        &.product-name {
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 120px;
            min-width: 120px;
        }
        &.icon {
            cursor: pointer;
            color: #7b7b7b;
        }
        &.price {
            font-weight: 600;
        }
    }
    &.table-order {
        & td:nth-child(2n + 1) {
            text-align: left;
        }
        & td:nth-child(2n) {
            text-align: right;
        }
    }
}
.control-quantity {
    height: 40px;
}
.btn-quantity {
    border: 1px solid #ccc;
    height: 100%;
    padding: 0 8px;
    font-weight: 500;
    cursor: pointer;
}

.input-quantity {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: none;
    border-left: none;
    height: 100%;
    max-width: 40px;
    outline: none;
    color: #333;
    text-align: center;
}
.button {
    padding-top: 36px;
}
.back {
    padding: 8px 16px;
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: var(--primary);
        color: #fff;
    }
}
.icon-back {
    margin-right: 4px;
}
.btn-update {
    margin-left: 16px;
    padding: 8px 16px;
    background-color: var(--primary);
    color: #fff;
    border: 2px solid var(--primary);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.empty-cart {
    text-align: center;
}
.btn-back {
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    background-color: var(--primary);
    border: none;
    padding: 10px 28px;
    cursor: pointer;
    &:hover {
        background-color: #b35c19;
    }
}
.pay-btn {
    text-align: center;
    color: #fff;
    margin: 24px 0;
    padding: 6.5px 0;
    width: 100%;
    background-color: #d26e4b;
    font-weight: bold;
}
.notification {
    text-align: center;
}
