.wrapper {
    height: calc(100vh - 155px);
}
.slider-img {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100vh - 155px);
    object-position: center;
    object-fit: cover;
}
