.wrapper {
    margin-top: 60px;
    margin-bottom: 20px;
}
.my-group {
    height: 421.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    flex: 1;
    display: block;
    height: 100%;
    padding: 0 15px;
}
.information {
    flex: 1;
    padding: 0 15px;
}
.title {
    margin-bottom: 20px;
}
.text {
    text-align: justify;
    line-height: 1.6;
}
.review {
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
