.products {
    margin-top: 40px;
    margin-bottom: 20px;
}
.box-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line {
    display: block;
    width: 80px;
    border-bottom: 2px solid #000;
}
.title {
    font-weight: 500;
    color: #333;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin: 0 8px 12px 8px;
}
.text {
    text-align: center;
    font-size: 2rem;
    color: #333;
}
