.wrapper {
    max-width: 30%;
    display: flex;
    padding: 0 15px 30px 15px;
}
.icon {
    padding-right: 16px;
    font-size: 6rem;
    color: #333;
}
.title {
    margin-bottom: 10px;
    font-size: 2rem;
}
.text {
    text-align: justify;
}
