.data-table {
    min-height: calc(100vh - 50px - 70.4px);
    background-color: #fff;
}

.table {
    border: 2px solid rgba($color: #c89979, $alpha: 0.2);
    border-collapse: collapse;
    width: 100%;
    & th {
        border: 2px solid rgba($color: #c89979, $alpha: 0.2);
        background-color: #f8f8f8;
        padding: 2px 0;
    }
    & td {
        text-align: center;
        padding: 6px 4px;
        // text-align: center;
        border: 2px solid rgba($color: #c89979, $alpha: 0.2);
    }
}
.btn {
    padding: 10px 28px;
    color: #fff;
    background-color: rgba($color: red, $alpha: 0.7);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &.btn-fix {
        background-color: #20c3e0;
    }
    &.btn-add {
        background-color: rgb(13, 227, 67);
    }
}
.action {
    max-width: 20px;
}
.icon-btn {
    margin-right: 4px;
}
.input {
    margin-top: 12px;
    width: 100%;
    padding: 8px 4px;
    outline: none;
    border: 1px solid #333;
    border-radius: 2px;
}
.wrapper-btn {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}
